# Microsoft Excel temporary/lock files
~$*.xlsx

# =========================================================
# Large research data
# =========================================================

# Large Scopus dataset
data/scopus/scopus_full.xlsx
output/scopus_research_landscape/lda/scopus_academic_corpus.csv
# =========================================================
# Python
# =========================================================
__pycache__/
*.py[cod]

# =========================================================
# Jupyter
# =========================================================
.ipynb_checkpoints/

# =========================================================
# Environment / IDE
# =========================================================
.venv/
venv/
env/
.env