# =========================================================
# Large research data
# =========================================================

# Large Scopus dataset
data/scopus/scopus_full.xlsx

# =========================================================
# Python
# =========================================================
__pycache__/
*.py[cod]

# =========================================================
# Jupyter
# =========================================================
.ipynb_checkpoints/

# =========================================================
# Environment / IDE
# =========================================================
.venv/
venv/
env/
.env